@charset "UTF-8";
@import url("font.css");
@import url("layout.css");

*{ padding: 0; margin: 0; font-family: Nanum Gothic, "맑은고딕", sans-serif; font-weight: 400; color: #444; box-sizing: border-box; }
li{ list-style: none; }
a{ text-decoration: none; color: #444; }
img{ border: none; }
table{ border-spacing: 0; border-collapse: collapse; }
html, body{ width: 100%; height: 100%; }

/* pc, tablet, mobile 공통 */
/* header */
header .only_pc, header .only_mobile{ display: none; }
header{ width: 100%; border-bottom: 1px solid #707070; }
header .wrap{ width: 1180px; max-width: 100%; margin: 0 auto; }
/* footer */
footer{ width: 100%; background-color: #dfdfdf; }
footer .fbottom{ width: 100%; background-color: #999; }
footer .fbottom p{ width: 100%; text-align: center; }
footer .ftop .wrap{ display: flex; padding-bottom: 50px; }
footer .fleft{ width: 70%; }
footer .fright{ width: 30%; }
footer .nav ul{ display: flex; }
footer a, footer .address, footer .fright p{ color: #666; }
footer .sns{ display: flex; }
/* aside */
.top_btn{ /* display: none; */ position: fixed; bottom: 100px; right: 80px; z-index: 2; }
.top_btn a{ display: block; border: 1px solid #707070; background-color: #fff;}

/* pc */
@media screen and (min-width: 1024px){
    *{ font-size: 16px; }
    /* header */
    header{ position: relative; height: 120px; }
    header h1{ position: absolute; top: 58px; width: 100px; height: 40px; background-image: url(../images/common/header_logo_pc.png); }
    header .top_nav{ position: absolute; top: 0; left: 0; width: 100%; height: 40px; border-bottom: 1px solid #707070; } 
    header .top_nav .wrap{ position: relative; width: 1180px; max-width: 100%; margin: 0 auto; }
    header .top_nav ul{ position: absolute; right: 0; }
    header .top_nav li{ float: left; padding-left: 25px; line-height: 40px; }
    /* footer */
    footer{ padding-top: 50px; }
    footer .wrap{ width: 1180px; max-width: 100%; margin: 0 auto; }
    footer .fbottom{ padding: 20px 0; }
    footer h1{ padding-bottom: 60px; }
    footer .nav ul{ padding-bottom: 50px; }
    footer .nav li{ padding-left: 3rem; }
    footer .nav li:first-child{ padding: 0; }
    footer .address{ line-height: 1.5; font-size: 0.95rem; }
    footer .fright{ padding-top: 100px; }
    footer .fright p{ font-size: 1.2rem; padding-bottom: 25px; }
    footer .sns li{ padding-right: 0.8rem; }
    /* aside */
    .top_btn a{ width: 50px; height: 50px; }
    
}


/* tablet */
@media screen and (max-width : 1023px){
    *{ font-size: 16px; }
    /* footer */
    footer{ padding-top: 38px; }
    footer .ftop, footer .fbottom{ padding-left: 15px; }
    footer h1{ padding-bottom: 20px; }
    footer h1 img{ width: 60px; height: 23.9px; }
    footer .fright{ padding-top: 3rem; }
    footer .nav ul{ padding-bottom: 2.5rem; }
    footer .nav li{ padding-right: 2rem; }
    footer .fright p{ padding-bottom: 1.5rem; }
    footer .sns img{ width: 30px; height: 30px; }
    footer .sns li{ padding-right: 0.5rem; }
    footer .fbottom{ padding: 10px 0; }
    footer .fbottom p{ font-size: 0.75rem; }
    /* aside */
    .top_btn a{ width: 45px; height: 45px; }
}


/* mobile */
@media screen and (max-width: 767px){
    *{ font-size: 14px; }
    /* footer */
    footer{ padding-top: 3rem; }
    footer .ftop .wrap{ display: block; padding-bottom: 50px; }
    footer .fleft, footer .fright{ width: 100%; padding: 0.5rem; }
    footer .address{ width: 100%; font-size: 0.75rem; line-height: 1.5; }
    footer .nav a{ font-size: 0.875rem; }
    footer .nav li{ padding-right: 1rem; }
    footer .fright p{ font-size: 0.875rem; padding: 0.5rem 0; }
    /* aside */
    .top_btn a{ width: 40px; height: 40px; }
}

/* iphone5 & se */
@media screen and (max-width: 320px){
    *{ font-size: 12px; }
}