@charset "UTF-8";

/* pc, tablet, mobile 공통 */

/* pc */
@media screen and (min-width: 1024px){
    .pcol01{ width: 100%; }
    .pcol02{ width: 50%; }
    .pcol04{ width: 25%; }
}

/* tablet */
@media screen and (max-width: 1023px){
    .tcol01{ width: 100%; }
    .tcol02{ width: 50%; }
}

/* mobile */
@media screen and (max-width: 767px){
    .mcol01{ width: 100%; }
    .mcol02{ width: 50%; }
}


