@charset "UTF-8";

/* pc, tablet, mobile 공통 */
/*popup*/
.popup{ position: fixed; left: 0; top: 0; z-index: 100000; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); }
.pwrap{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 400px; height: 520px; background-color: #fff; border-radius: 20px; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); }
.pwrap h3{ font-size: 2.8rem; font-weight: 700; color: #FF7B30; text-align: center; line-height: 230px; font-family: 'Akaya Telivigala', cursive; }
.ptop{ position: absolute; top: 150px; left: 0; width: 100%; height: 300px; }
.notice{ padding-top: 45px; box-sizing: border-box; text-align: center; line-height: 1.8; font-size: 1.125rem; color: #333; }
.ptop span{ font-size: 1.125rem; font-weight: 700; }
.pbottom{ position: absolute; bottom: 40px; width: 100%; height: 40px; line-height: 40px;  text-align: center; }
.pbottom a{ font-size: 1rem; color: #333; text-decoration: underline; }
#close{ position: absolute; top: 10px; right: 10px; width: 60px; height: 60px; background-image: url(../images/main/popup_close_ico.png); background-repeat: no-repeat; }
/* main */
main{ position: relative; width: 100%; }
main .swiper-container{ width: 100%; }
main .swiper-slide{ width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }
main .textbox{ position: absolute; top: 18%; left: 15%; }
main .textbox h2{ margin-bottom: 1rem; font-family: 'Akaya Telivigala', cursive; }
main .slide01 h2{ color: #8E5414; }
main .slide02 h2, main .slide02 p{ color: #CF4D36; }
main .slide03 h2, main .slide03 p{ color: #3A261D; }
main .slide01 p{ color: #603007; }
main .textbox span{ color: #555555; }
main .textbox a{ display: block; margin: 6rem 0; transition: 0.4s; }
main .textbox a:hover span{ font-style: italic; }
main .only_pc{ display: none; } 
main .only_mobile{ display: none; } 
main .swiper-button-next, main .swiper-button-prev{ color: #FF7B30; }
main .swiper-pagination-bullet-active-main{ background-color: #FF7B30; }
main .swiper-pagination-bullet{ width: 12px; height: 12px; }
/* today_best */
.today_best{ width: 100%; overflow: hidden; padding: 80px 0; }
.today_best h2{ width: 100%; margin-bottom: 30px; text-align: center; font-weight: 700; }
.today_best .tabbar{ width: 1180px; max-width: 100%; margin: 0 auto 20px; }
.today_best .tabbar ul{ display: flex; justify-content: center; }
.today_best .tabbar li{ flex: 1; text-align: center; border: 1px solid #ccc; }
.today_best .tabbar li:first-child{ margin-left: 10px; }
.today_best .tabbar li:last-child{ margin-right: 10px; }
.today_best .tabbar a{ display: block; font-size: 1.75rem; color: #ccc; }
.today_best .tabbar li.active{ border: none; background-color: #ccc; color: #444; }
.today_best .tabbar li.active a{ color: #444; }
.today_best .contents{ width: 1180px; max-width: 100%; margin: 0 auto; }
.today_best .contents ul{ width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; }
.today_best .contents li{ position: relative; padding: 0 10px; text-align: center; }
.today_best .contents .img{ max-width: 100%; max-height: 100%; height: calc(55vw); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; }
.today_best .contents .medal{ position: absolute; top: 0; left: 20px; font-size: 1.875rem; color: #fff; }
.today_best .contents .gold{ width: 32px; height: 42px; background-image: url(../images/main/best_gold_ico_pc.png); }
.today_best .contents .silver{ width: 32px; height: 42px; background-image: url(../images/main/best_silver_ico_pc.png); }
.today_best .contents .bronze{ width: 32px; height: 42px; background-image: url(../images/main/best_bronze_ico_pc.png); }
.today_best .contents .normal{ width: 32px; height: 42px; background-image: url(../images/main/best_normal_ico_pc.png); }
.today_best .contents h3{ margin: 15px 0 10px; font-size: 1.25rem; font-weight: 700; }
.today_best .contents h4{ margin: 0 0 10px; font-size: 1rem; }
.today_best .contents p{ display: flex; justify-content: center; margin-bottom: 20px; font-size: 1rem; }
.today_best .contents .arrow{ position: relative; top: 7px; width: 51px; height: 5px; margin: 0 10px; background-image: url(../images/main/best_arrow_ico_pc.png); }
.today_best .contents .big_orange{ position: relative; top: -3px; font-size: 1.25rem; color: #FF7B30; font-weight: 700; }
/* intro */
.intro{ width: 100%; padding: 0 0 80px; background-color: #f7f4ed; }
.intro .masterpiece{ width: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; }
.intro .tutors{ width: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; }
.intro .wrap{ width: 1180px; max-width: 100%; height: 100%; margin: 0 auto; }
.intro h2{ font-family: 'Akaya Telivigala', cursive; }
.intro .only_pc{ display: none; }
.intro .view{ display: block; text-align: center; background-color: #FF7B30; color: #fff; }
.intro img{ box-shadow: 4px 4px 4px rgba(0,0,0,0.4); }
.intro .view:hover{ box-shadow: 3px 3px 3px rgba(0,0,0,0.4); }
/* review */
.review{ width: 100%; padding: 80px 0; background-color: #f7f4ed; }
.review h2{ padding-bottom: 80px; text-align: left; font-weight: 700; }
.review .swiper-button-next:after, .review .swiper-container-rtl .swiper-button-prev:after{ content: ''; }
.review .swiper-button-prev:after, .review .swiper-container-rtl .swiper-button-next:after{ content: ''; }
.review .swiper-button-next.swiper-button-disabled, .review .swiper-button-prev.swiper-button-disabled{ opacity: 1; }
.review .swiper-container{ position: relative; }
.review .swiper-button-next, .review .swiper-button-prev{ position: absolute; top: 22px; }
.review .swiper-slide a{ display: block; width: 100%; height: 100%; }

/* pc */
@media screen and (min-width: 1024px){
    /* main */
    main .swiper-slide{ height: 670px; }
    main .slide01{ background-image: url(../images/main/main_bn01_pc.jpg); }
    main .slide02{ background-image: url(../images/main/main_bn02_pc.jpg); }
    main .slide03{ background-image: url(../images/main/main_bn03_pc.jpg); }
    main .textbox h2{ font-size: 4.68rem; }
    main .textbox p{ line-height: 3.625rem; font-size: 2.375rem; }
    main .textbox span.only_pc{ font-size: 2.25rem; font-weight: 700; }
    main .only_pc{ display: inline; }
    main .arrow{ position: relative; top: -7px; left: 10px; }
    /* today_best */
    .today_best h2{ font-size: 2.375rem; }
    .today_best .tabbar li{ height: 45px; line-height: 45px; }
    .today_best .contents .img{ height: 350px; transition: 0.3s; }
    .today_best .contents01 .img01{ background-image: url(../images/main/bestwork_img01_pc.jpg); }
    .today_best .contents01 .img02{ background-image: url(../images/main/bestwork_img02_pc.jpg); }
    .today_best .contents01 .img03{ background-image: url(../images/main/bestwork_img03_pc.jpg); }
    .today_best .contents01 .img04{ background-image: url(../images/main/bestwork_img04_pc.jpg); }
    .today_best .contents02 .img01{ background-image: url(../images/main/bestclass_img01_pc.jpg); }
    .today_best .contents02 .img02{ background-image: url(../images/main/bestclass_img02_pc.jpg); }
    .today_best .contents02 .img03{ background-image: url(../images/main/bestclass_img03_pc.jpg); }
    .today_best .contents02 .img04{ background-image: url(../images/main/bestclass_img04_pc.jpg); }
    .today_best .contents p{ margin-bottom: 0; }
    .today_best .contents .cart{ position: absolute; top: 28%; left: 33%; width: 100px; height: 100px; border-radius: 100%; background-color: #fff; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); opacity: 0; transition: 0.3s; }
    .today_best .contents .cart_img{ width: 100%; height: 100%; background-image: url(../images/main/best_cart_ico_pc.png); background-repeat: no-repeat; background-position: center 15px; }
    .today_best .contents .cart_p{ position: absolute; top: 65%; left: 22%; }
    .today_best .contents li:hover .cart{ opacity: 1; }
    .today_best .contents li:hover .img{ background-size: 120% 120%; }
    /* intro */
    .intro .masterpiece{ height: 700px; background-image: url(../images/main/intro_bg01_pc.jpg); }
    .intro .tutors{ height: 900px; background-image: url(../images/main/intro_bg02_pc.jpg); }
    .intro h2{ width: 433px; height: 118px; padding: 108px 0 52px; font-size: 3rem; }
    .intro .masterpiece .wrap, .intro .tutors .wrap{ position: relative; }
    .intro .img01{ position: absolute; top: 278px; left: 0; z-index: 1; }
    .intro .masterpiece h3{ position: absolute; top: 330px; left: 550px; width: 389px; line-height: 1.5; font-size: 2rem; }
    .intro .masterpiece .only_pc{ display: inline; position: absolute; top: 450px; left: 550px; width: 540px; font-size: 1.4em; }
    .intro .view{ width: 360px; height: 60px; font-size: 1.95rem; border-radius: 10px; line-height: 59px; }
    .intro .masterpiece .view{ position: absolute; top: 550px; left: 550px; }
    .intro .tutors h2{ position: absolute; right: 0; padding-top: 200px; text-align: right; }
    .intro .img02{ position: absolute; bottom: 20px; right: 0; }
    .intro .tutors h3{ position: absolute; top: 540px; width: 556px; line-height: 1.5; font-size: 2rem; text-align: right; }
    .intro .tutors .only_pc{ display: inline; position: absolute; top: 660px; width: 558px; font-size: 1.4rem; text-align: right; }
    .intro .tutors .view{ position: absolute; top: 750px; right: 625px; }
    /* review */
    .review h2{ font-size: 2.375rem; }
    .review .swiper-container{ margin-left: 20%; }
    .review .swiper-button-next{ left: 351px; width: 50px; height: 50px; background-color: #999; background-image: url(../images/main/review_next_ico_pc.png); background-repeat: no-repeat; background-position: center; }
    .review .swiper-button-prev{ left: 300px; width: 50px; height: 50px; background-color: #fff; background-image: url(../images/main/review_prev_ico_pc.png); background-repeat: no-repeat; background-position: center; }
    .review .swiper-slide{ max-width: 100%; max-height: 100%; height: calc(25vw); background-color: #fff; }
    .review .img_box{ width: 100%; height: 65%; background-size: cover;}
    .review .slide01 .img_box{ background-image: url(../images/main/review_img01_pc.jpg); }
    .review .slide02 .img_box{ background-image: url(../images/main/review_img02_pc.jpg); }
    .review .slide03 .img_box{ background-image: url(../images/main/review_img03_pc.jpg); }
    .review .slide04 .img_box{ background-image: url(../images/main/review_img04_pc.jpg); }
    .review .slide05 .img_box{ background-image: url(../images/main/review_img05_pc.jpg); }
    .review .slide06 .img_box{ background-image: url(../images/main/review_img06_pc.jpg); }
    .review .txt_box{ padding: 1.5rem 1rem; }
    .review .txt_box h3{ font-size: 1.5rem; padding-bottom: 1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box p{ font-size: 0.95rem; padding-bottom: 0.5rem; line-height: 1.5; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box h4{ text-align: right; font-size: 0.875rem; }
    .review .rank{ display: flex; float: left; width: 120px; height: 1.2rem; }
    .review .rank > div{ width: 20px; height: 20px; background-repeat: no-repeat; }
    .review .slide01 .star01, .review .slide01 .star02, .review .slide01 .star03, .review .slide01 .star04, .review .slide01 .star05, .review .slide02 .star01, .review .slide02 .star02, .review .slide02 .star03, .review .slide02 .star04, .review .slide03 .star01, .review .slide03 .star02, .review .slide03 .star03, .review .slide03 .star04, .review .slide04 .star01, .review .slide04 .star02, .review .slide04 .star03, .review .slide05 .star01, .review .slide05 .star02, .review .slide05 .star03, .review .slide05 .star04, .review .slide06 .star01, .review .slide06 .star02{ background-image: url(../images/main/review_star_active_pc.png); }
    .review .slide02 .star05, .review .slide03 .star05, .review .slide04 .star04, .review .slide04 .star05, .review .slide05 .star05, .review .slide06 .star03, .review .slide06 .star04, .review .slide06 .star05{ background-image: url(../images/main/review_star_out_pc.png); }
}

/* review */
@media screen and (min-width: 1370px) and (max-width: 1650px){
    .review .txt_box{ padding: 1rem 0.5rem; }
    .review .txt_box h3{ font-size: 1rem; padding-bottom: 0.3rem; }
    .review .txt_box p{ font-size: 0.875rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box h4{ font-size: 0.875rem; }
}
@media screen and (min-width: 1024px) and (max-width: 1369px){
    .review .txt_box{ padding: 0.5rem; }
    .review .txt_box h3{ font-size: 0.875rem; padding-bottom: 0.3rem; }
    .review .txt_box p{ font-size: 0.75rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box h4{ font-size: 0.5rem; }
    .review .rank{ width: 85px; }
}

/* tablet */
@media screen and (max-width: 1023px){
    main .swiper-slide{ height: 693px; }
    main .slide01{ background-image: url(../images/main/main_bn01_tablet.jpg); }
    main .slide02{ background-image: url(../images/main/main_bn02_tablet.jpg); }
    main .slide03{ background-image: url(../images/main/main_bn03_tablet.jpg); }
    main .textbox h2{ font-size: 3.75rem; }
    main .only_mobile{ display: inline; font-size: 2.25rem; font-weight: 700; }
    main .textbox{ top: 35%; left: 10%; }
    main .arrow{ position: relative; top: -5px; left: 5px; }
    main .arrow img{ width: 5rem; }
    /* today_best */
    .today_best{ padding: 80px 15px; }
    .today_best h2{ font-size: 2rem; }
    .today_best .tabbar li{ height: 40px; line-height: 40px; }
    .today_best .contents01 .img01{ background-image: url(../images/main/bestwork_img01_tablet.jpg); }
    .today_best .contents01 .img02{ background-image: url(../images/main/bestwork_img02_tablet.jpg); }
    .today_best .contents01 .img03{ background-image: url(../images/main/bestwork_img03_tablet.jpg); }
    .today_best .contents01 .img04{ background-image: url(../images/main/bestwork_img04_tablet.jpg); }
    .today_best .contents02 .img01{ background-image: url(../images/main/bestclass_img01_tablet.jpg); }
    .today_best .contents02 .img02{ background-image: url(../images/main/bestclass_img02_tablet.jpg); }
    .today_best .contents02 .img03{ background-image: url(../images/main/bestclass_img03_tablet.jpg); }
    .today_best .contents02 .img04{ background-image: url(../images/main/bestclass_img04_tablet.jpg); }
    .today_best .contents h3{ font-size: 1.5rem; }
    .today_best .contents h4{ font-size: 1.2rem; }
    .today_best .contents del{ font-size: 1.25rem; }
    .today_best .contents .big_orange{ top: -2px; font-size: 1.375rem; }
    .today_best .contents .cart{ position: absolute; bottom: 150px; right: 20px; width: 70px; height: 70px; border-radius: 100%; background-color: #FF7B30; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); }
    .today_best .contents .cart_img{ width: 100%; height: 100%; background-image: url(../images/main/best_cart_tablet.png); background-repeat: no-repeat; background-position: center 15px; }
    .today_best .contents .cart_p{ display: none; }
    /* intro */
    .intro .masterpiece{ height: 250px; background-image: url(../images/main/intro_bg01_pc.jpg); padding: 0 15px; }
    .intro .tutors{ height: 315px; background-image: url(../images/main/intro_bg02_pc.jpg); padding: 0 15px; }
    .intro h2{ font-size: 2.3rem; padding: 40px 0 25px; }
    .intro .masterpiece .wrap, .intro .tutors .wrap{ position: relative; }
    .intro .img01{ width: 180px; height: 220px; }
    .intro .masterpiece h3{ position: absolute; top: 157px; left: 227px; width: 243px; line-height: 1.5; font-size: 1.25rem; }
    .intro .masterpiece .view{ position: absolute; top: 233px; left: 227px; }
    .intro .tutors h2{ position: absolute; right: 0; padding-top: 100px; }
    .intro .img02{ position: absolute; bottom: 20px; right: 0; width: 140px; height: 140px; }
    .intro .tutors h3{ position: absolute; top: 165px; right: 188px; width: 382px; line-height: 1.5; font-size: 1.25rem; text-align: right; }
    .intro .tutors .view{ position: absolute; top: 234px; right: 188px; }
    .intro .view{ width: 110px; height: 34px; font-size: 0.95rem; line-height: 2.5; border-radius: 8px; }
    /* review */
    .review .swiper-container{ margin-left: 10%; }
    .review h2{ font-size: 2rem; }
    .review .swiper-button-next, .review .swiper-button-prev{ right: -999em; }
    .review .swiper-slide{ max-width: 100%; max-height: 100%; height: calc(40vw); background-color: #fff; }
    .review .img_box{ width: 100%; height: 65%; background-size: cover;}
    .review .slide01 .img_box{ background-image: url(../images/main/review_img01_tablet.png); }
    .review .slide02 .img_box{ background-image: url(../images/main/review_img02_tablet.png); }
    .review .slide03 .img_box{ background-image: url(../images/main/review_img03_tablet.png); }
    .review .slide04 .img_box{ background-image: url(../images/main/review_img04_tablet.png); }
    .review .slide05 .img_box{ background-image: url(../images/main/review_img05_tablet.png); }
    .review .slide06 .img_box{ background-image: url(../images/main/review_img06_tablet.png); }
    .review .txt_box{ padding: 1rem; }
    .review .txt_box h3{ font-size: 0.875rem; padding-bottom: 0.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box p{ font-size: 0.65rem; padding-bottom: 0.5rem; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box h4{ text-align: right; font-size: 0.5rem; }
    .review .rank{ display: flex; float: left; width: 80px; height: 1.2rem; }
    .review .rank > div{ width: 15px; height: 15px; background-repeat: no-repeat; }
    .review .slide01 .star01, .review .slide01 .star02, .review .slide01 .star03, .review .slide01 .star04, .review .slide01 .star05, .review .slide02 .star01, .review .slide02 .star02, .review .slide02 .star03, .review .slide02 .star04, .review .slide03 .star01, .review .slide03 .star02, .review .slide03 .star03, .review .slide03 .star04, .review .slide04 .star01, .review .slide04 .star02, .review .slide04 .star03, .review .slide05 .star01, .review .slide05 .star02, .review .slide05 .star03, .review .slide05 .star04, .review .slide06 .star01, .review .slide06 .star02{ background-image: url(../images/main/review_star_active_tablet.png); }
    .review .slide02 .star05, .review .slide03 .star05, .review .slide04 .star04, .review .slide04 .star05, .review .slide05 .star05, .review .slide06 .star03, .review .slide06 .star04, .review .slide06 .star05{ background-image: url(../images/main/review_star_out_tablet.png); }
}


/* mobile */
@media screen and (max-width: 767px){
    /* popup */
    .pwrap{ width: 18rem; height: 25rem; }
    .pwrap h3{ font-size: 2rem; line-height: 10rem; }
    .ptop{ position: absolute; top: 5rem; left: 0; width: 100%; height: 12rem; }
    .notice{ padding-top: 3rem; box-sizing: border-box; text-align: center; line-height: 1.8; font-size: 1rem; color: #333; }
    .pbottom{ bottom: 1.5rem; width: 100%; height: 3rem; line-height: 3rem; }
    #close{ width: 30px; height: 30px; background-image: url(../images/main/popup_close_ico.png); background-size: 30px 30px; }
    /* main */
    main .swiper-slide{ height: 337px; }
    main .slide01{ background-image: url(../images/main/main_bn01_mobile@2x.png); }
    main .slide02{ background-image: url(../images/main/main_bn02_mobile.png); }
    main .slide03{ background-image: url(../images/main/main_bn03_mobile@2x.png); }
    main .textbox h2{ font-size: 1.95rem; }
    main .only_mobile{ font-size: 1.25rem; }
    main .swiper-button-next, main .swiper-button-prev{ display: none; }
    main .textbox a{ margin: 3rem 0; }
    main .arrow{ position: relative; top: -1px; left: 2px; }
    main .arrow img{ width: 3rem; }
    /* today_best */
    .today_best{ padding: 40px 0; }
    .today_best h2{ font-size: 1.28rem; }
    .today_best .tabbar li{ height: 25px; line-height: 25px; }
    .today_best .tabbar a{ font-size: 1rem; }
    .today_best .contents01 .img01{ background-image: url(../images/main/bestwork_img01_mobile@2x.png); }
    .today_best .contents01 .img02{ background-image: url(../images/main/bestwork_img02_mobile@2x.png); }
    .today_best .contents01 .img03{ background-image: url(../images/main/bestwork_img03_mobile@2x.png); }
    .today_best .contents01 .img04{ background-image: url(../images/main/bestwork_img04_mobile@2x.png); }
    .today_best .contents02 .img01{ background-image: url(../images/main/bestclass_img01_mobile@2x.png); }
    .today_best .contents02 .img02{ background-image: url(../images/main/bestclass_img02_mobile@2x.png); }
    .today_best .contents02 .img03{ background-image: url(../images/main/bestclass_img03_mobile@2x.png); }
    .today_best .contents02 .img04{ background-image: url(../images/main/bestclass_img04_mobile@2x.png); }
    .today_best .contents h3{ font-size: 1rem; }
    .today_best .contents h4{ font-size: 0.75rem; }
    .today_best .contents del{ font-size: 0.7rem; }
    .today_best .contents .big_orange{ top: -2px; font-size: 0.875rem; }
    .today_best .contents .arrow{ top: 3px; margin: 0; background-image: url(../images/main/best_arrow_mobile@2x.png); background-size: 100% 100%; }
    .today_best .contents .cart{ bottom: 105px; right: 20px; width: 45px; height: 45px; }
    .today_best .contents .cart_img{ background-image: url(../images/main/best_cart_mobile@2x.png); background-size: 60% 60%; background-position: center; }
    /* intro */
    .intro .masterpiece{ height: 250px; background-image: url(../images/main/intro_bg01_pc.jpg); padding: 0 15px; }
    .intro .tutors{ height: 315px; background-image: url(../images/main/intro_bg02_pc.jpg); padding: 0 15px; }
    .intro h2{ width: 18rem; font-size: 1.75rem; padding: 20px 0 30px; line-height: 1.2; }
    .intro .masterpiece .wrap, .intro .tutors .wrap{ position: relative; }
    .intro .img01{ width: 10rem; height: auto; }
    .intro .masterpiece h3{ position: absolute; top: 10rem; left: 12rem; width: 9.5rem; line-height: 1.5; font-size: 0.95rem; }
    .intro .masterpiece .view{ position: absolute; top: 15rem; left: 12rem; }
    .intro .tutors h2{ position: absolute; right: 0; padding-top: 6rem; text-align: right; }
    .intro .img02{ position: absolute; bottom: 20px; right: 0; width: 9rem; height: 9rem; }
    .intro .tutors h3{ position: absolute; top: 13rem; right: 11rem; width: 10.5rem; line-height: 1.5; font-size: 0.95rem; text-align: right; }
    .intro .tutors .view{ position: absolute; top: 18rem; right: 11rem; }
    .intro .view{ width: 7rem; height: 2.2rem; font-size: 0.875rem; line-height: 2.5; border-radius: 5px; }
    /* review */
    .review{ padding-top: 0; }
    .review .swiper-container{ margin-left: 5%; }
    .review h2{ font-size: 1.28rem; padding: 40px 0; }
    .review .swiper-button-next, .review .swiper-button-prev{ right: -999em; }
    .review .swiper-slide{ max-width: 100%; max-height: 100%; height: calc(42vw); background-color: #fff; }
    .review .img_box{ width: 100%; height: 65%; background-size: cover;}
    .review .slide01 .img_box{ background-image: url(../images/main/review_img01_tablet.png); }
    .review .slide02 .img_box{ background-image: url(../images/main/review_img02_tablet.png); }
    .review .slide03 .img_box{ background-image: url(../images/main/review_img03_tablet.png); }
    .review .slide04 .img_box{ background-image: url(../images/main/review_img04_tablet.png); }
    .review .slide05 .img_box{ background-image: url(../images/main/review_img05_tablet.png); }
    .review .slide06 .img_box{ background-image: url(../images/main/review_img06_tablet.png); }
    .review .txt_box{ padding: 0.5rem; }
    .review .txt_box h3{ font-size: 0.875rem; padding-bottom: 0.2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .review .txt_box p{ display: none; }
    .review .txt_box h4{ text-align: right; font-size: 0.45rem; }
    .review .rank{ display: flex; float: left; width: 100%; height: 1.2rem; }
    .review .rank > div{ width: 12px; height: 12px; background-repeat: no-repeat; }
    .review .slide01 .star01, .review .slide01 .star02, .review .slide01 .star03, .review .slide01 .star04, .review .slide01 .star05, .review .slide02 .star01, .review .slide02 .star02, .review .slide02 .star03, .review .slide02 .star04, .review .slide03 .star01, .review .slide03 .star02, .review .slide03 .star03, .review .slide03 .star04, .review .slide04 .star01, .review .slide04 .star02, .review .slide04 .star03, .review .slide05 .star01, .review .slide05 .star02, .review .slide05 .star03, .review .slide05 .star04, .review .slide06 .star01, .review .slide06 .star02{ background-image: url(../images/main/review_star_active_tablet.png); }
    .review .slide02 .star05, .review .slide03 .star05, .review .slide04 .star04, .review .slide04 .star05, .review .slide05 .star05, .review .slide06 .star03, .review .slide06 .star04, .review .slide06 .star05{ background-image: url(../images/main/review_star_out_tablet.png); }
}


/* iphone5 & se */
@media screen and (max-width: 320px){

}